.search-input-wrapper{
    display: flex;
    color: white;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.search-input-wrapper input{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    width: 100%;
}

.search-input-wrapper input::placeholder{
    color: white;
}

input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    appearance: none;
}

.search-input-wrapper:focus-within{
    border: 1px solid white;
}